h2 {
    font-size: 120%;
    font-family: Verdana, Calibri, Helvetica, sans-serif;
    color: #9bacf7
}
h3 {
    font-size: 120%;
    font-family: Verdana, Calibri, Helvetica, sans-serif;
    color: #bc82ff
}
p {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff
}
body {
    background-color: rgb(71, 71, 71);
}
div{
    margin-bottom: 25px;
}
a {
    font-size: 180%;
    font-family: Verdana, Calibri, Helvetica, sans-serif;
    color: #516ef0
}
.logo{
    margin-left: 1600px;
}
.Xuevai_companiy{
    display: flex;
    justify-content: center;
    align-items: center;
}
